.top-container {border-width: 10px;
border-color: black;
padding: 20px;
border-style: solid;}
.middle-container {border-width: 20px;
border-color: black;
background-color: red;
border-style: solid;
padding: 10px;
margin-left: 260px}
.bottom-container {border-width: 10px;
border-color: black;
background-color: yellow;
padding: 20px;
border-style: solid;
margin-left: 520px}
div {width: 200px;
height: 200px}
